<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.czn.assistant.dao.mapper.LegendsAvatarMapper">
    <insert id="insert">
        INSERT INTO legends_avatar (legends_name, url)
        VALUES (#{avatar.legendsName}, #{avatar.url})
    </insert>
    <insert id="insertList" parameterType="java.util.List">
        INSERT INTO legends_avatar (legends_name, url)
        VALUES
        <foreach collection="list" item="avatar" separator=",">
            (#{avatar.legendsName}, #{avatar.url})
        </foreach>
    </insert>
    <update id="update">
        UPDATE legends_avatar
        SET url = #{avatar.url}
        WHERE legends_name = #{avatar.legendsName}
    </update>

    <select id="get" resultType="com.czn.assistant.dao.entity.LegendsAvatar">
        SELECT * FROM legends_avatar WHERE legends_name = #{name}
    </select>
    <select id="getAll" resultType="com.czn.assistant.dao.entity.LegendsAvatar">
        SELECT * FROM legends_avatar
    </select>
</mapper>