<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.czn.assistant.dao.mapper.LegendsAvatarMapper">

    <insert id="insert">
        INSERT INTO legends_avatar (legends_name, url)
        VALUES (#{legendsName}, #{url})
    </insert>
    <insert id="insertList" parameterType="java.util.ArrayList">
        INSERT INTO legends_avatar (legends_name, url)
        VALUES
        <foreach collection="list" item="avatar" separator=",">
            (#{avatar.legendsName}, #{avatar.url})
        </foreach>
    </insert>
</mapper>